@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/sf-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro H';
    src: url('/assets/sf-pro.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro P';
    src: url('/assets/sf-pro.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}